<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home_toolbook.css') }}">
	<link href="//cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
	<!-- 可选的Bootstrap主题文件（一般不使用） -->
	<script src="//cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script> 
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> 
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
            <a class="navbar-brand" href="#" style="font-size: 50px;color: rgb(0,0,45);position: absolute;bottom: 40px">二手书交易商城</a>	
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="line-height:100px">
      <ul class="nav navbar-nav">
         <li ><a href="{{ url_for('home_toolbook') }}" style="font-size: 35px;color: rgb(0,0,45);position: absolute;left: 800px;width: 150px;bottom: -85px">工具书<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="{{ url_for('home_teachbook') }}" style="font-size: 35px;color: rgb(0,0,45);position: absolute;left: 950px;width: 150px;bottom: -85px">教科书</a></li>
        <li><a href="{{ url_for('home_otherbook') }}" style="font-size: 35px;color: rgb(0,0,45);position: absolute;left: 1100px;width: 150px;bottom: -85px">其他</a></li>
      </ul>
      <form class="navbar-form navbar-left" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="输入书名/作者名" style="position: absolute;left: 450px;bottom: 40px">
        </div>
        <button type="submit" class="btn btn-default" style="position: absolute;left: 650px;bottom: 40px"><a href="//127.0.0.1:5000/searchbook">搜索</a></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="usrname" >韩冬冰</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ">个人中心<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('Personal') }}">修改个人资料</a></li>
            <li><a href="{{ url_for('soldbook') }}">我卖出的宝贝</a></li>
            
            <li><a href="{{ url_for('purchasedbook') }}">我买到的宝贝</a></li>
            <li><a href="{{ url_for('collectbook') }}">我收藏的宝贝</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->  
</nav>
<div class="hotbook">
	<p>热</p>
	<p>销</p>
	<p>书</p>
	<p>籍</p>
</div>
<div class="responsive" style="position: absolute;left: 300px" >
  <div class="img">
    <a  href="//127.0.0.1:5000/bookDetail">
      <img src="static/book1.jpg" alt="computer book1" style="width: 465px;height: 310px">
    </a>
    <div class="desc" >
       <div >
        <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">书名：</label><span>计算机组成</span><label for="sailer" style="width: 50px;color: #bd1638;position: absolute;left: 180px">作者：</label><span style="position: absolute;left: 220px">韩冬冰</span></p>
        <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">卖家：</label>韩冬冰</p>
        <p name="sailer" style="width: 236px;text-align: left;" ><label for="sailer" style="width: 50px;color: #bd1638">价格：</label>10000<label>元</label></p>
       </div>
    </div>
  </div>
</div>
<div class="responsive" style="position: absolute;left: 870px" >
  <div class="img">
    <a  href="//127.0.0.1:5000/bookDetail">
      <img src="static/book2.jpg" alt="computer book2" style="width: 465px;height: 310px">
    </a>
    <div class="desc" >
       <div >
       <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">书名：</label><span>计算机组成</span><label for="sailer" style="width: 50px;color: #bd1638;position: absolute;left: 180px">作者：</label><span style="position: absolute;left: 220px">韩冬冰</span></p>
       	<p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">卖家：</label>林凯</p>
    	<p name="sailer" style="width: 236px;text-align: left;" ><label for="sailer" style="width: 50px;color: #bd1638">价格：</label>100<label>元</label></p>
       </div>
    </div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a  href="//127.0.0.1:5000/bookDetail">
      <img src="static/book3.jpg" alt="Northern Lights" style="width: 465px;height: 310px">
    </a>
    <div class="desc">
    	<div >
      <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">书名：</label><span>计算机组成</span><label for="sailer" style="width: 50px;color: #bd1638;position: absolute;left: 1620px">作者：</label><span style="position: absolute;left: 1660px">韩冬冰</span></p>
       	<p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">卖家：</label>林凯</p>
    	<p name="sailer" style="width: 236px;text-align: left;" ><label for="sailer" style="width: 50px;color: #bd1638">价格：</label>100<label>元</label></p>
       </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div style="padding:6px;"></div>


<div class="hotbook">
	<p>教</p>
	<p>科</p>
	<p>书</p>
	<p>籍</p>
</div>
<div class="responsive" style="position: absolute;left: 300px" >
  <div class="img">
    <a  href="//127.0.0.1:5000/bookDetail">
      <img src="static/book1.jpg" alt="computer book1" style="width: 465px;height: 310px">
    </a>
    <div class="desc" >
       <div >
       <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">书名：</label><span>计算机组成</span><label for="sailer" style="width: 50px;color: #bd1638;position: absolute;left: 180px">作者：</label><span style="position: absolute;left: 220px">韩冬冰</span></p>
       	<p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">卖家：</label>韩冬冰</p>
    	<p name="sailer" style="width: 236px;text-align: left;" ><label for="sailer" style="width: 50px;color: #bd1638">价格：</label>10000<label>元</label></p>
       </div>
    </div>
  </div>
</div>
<div class="responsive" style="position: absolute;left: 870px" >
  <div class="img">
    <a  href="//127.0.0.1:5000/bookDetail">
      <img src="static/book2.jpg" alt="computer book2" style="width: 465px;height: 310px">
    </a>
    <div class="desc" >
       <div >
       <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">书名：</label><span>计算机组成</span><label for="sailer" style="width: 50px;color: #bd1638;position: absolute;left: 180px">作者：</label><span style="position: absolute;left: 220px">韩冬冰</span></p>
       	<p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">卖家：</label>林凯</p>
    	<p name="sailer" style="width: 236px;text-align: left;" ><label for="sailer" style="width: 50px;color: #bd1638">价格：</label>100<label>元</label></p>
       </div>
    </div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a  href="//127.0.0.1:5000/bookDetail">
      <img src="static/book3.jpg" alt="Northern Lights" style="width: 465px;height: 310px">
    </a>
    <div class="desc">
    	<div >
      <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">书名：</label><span>计算机组成</span><label for="sailer" style="width: 50px;color: #bd1638;position: absolute;left: 1620px">作者：</label><span style="position: absolute;left: 1660px">韩冬冰</span></p>
       	<p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">卖家：</label>林凯</p>
    	<p name="sailer" style="width: 236px;text-align: left;" ><label for="sailer" style="width: 50px;color: #bd1638">价格：</label>100<label>元</label></p>
       </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div style="padding:6px;"></div>


<div class="responsive" style="position: absolute;left: 300px" >
  <div class="img">
    <a  href="//127.0.0.1:5000/bookDetail">
      <img src="static/book1.jpg" alt="computer book1" style="width: 465px;height: 310px">
    </a>
    <div class="desc" >
       <div >
       <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">书名：</label><span>计算机组成</span><label for="sailer" style="width: 50px;color: #bd1638;position: absolute;left: 180px">作者：</label><span style="position: absolute;left: 220px">韩冬冰</span></p>
       	<p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">卖家：</label>韩冬冰</p>
    	<p name="sailer" style="width: 236px;text-align: left;" ><label for="sailer" style="width: 50px;color: #bd1638">价格：</label>10000<label>元</label></p>
       </div>
    </div>
  </div>
</div>
<div class="responsive" style="position: absolute;left: 870px" >
  <div class="img">
    <a  href="//127.0.0.1:5000/bookDetail">
      <img src="static/book2.jpg" alt="computer book2" style="width: 465px;height: 310px">
    </a>
    <div class="desc" >
       <div >
       <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">书名：</label><span>计算机组成</span><label for="sailer" style="width: 50px;color: #bd1638;position: absolute;left: 180px">作者：</label><span style="position: absolute;left: 220px">韩冬冰</span></p>
       	<p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">卖家：</label>林凯</p>
    	<p name="sailer" style="width: 236px;text-align: left;" ><label for="sailer" style="width: 50px;color: #bd1638">价格：</label>100<label>元</label></p>
       </div>
    </div>
  </div>
</div>
<div class="responsive">
  <div class="img">
    <a  href="//127.0.0.1:5000/bookDetail">
      <img src="static/book3.jpg" alt="Northern Lights" style="width: 465px;height: 310px">
    </a>
    <div class="desc">
    	<div >
      <p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">书名：</label><span>计算机组成</span><label for="sailer" style="width: 50px;color: #bd1638;position: absolute;left: 1620px">作者：</label><span style="position: absolute;left: 1660px">韩冬冰</span></p>
       	<p name="sailer" style="width: 250px;text-align:left;" ><label for="sailer" style="width: 50px;color: #bd1638">卖家：</label>林凯</p>
    	<p name="sailer" style="width: 236px;text-align: left;" ><label for="sailer" style="width: 50px;color: #bd1638">价格：</label>100<label>元</label></p>
       </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div style="padding:6px;"></div>



</body>
</html>	

