<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>登陆页面</title>  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login.css') }}"/> 
    <script src="//cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>  
<body> 
<div id="title1">
		<h1>欢迎进入二手书城</h1>
</div>
<div class="intro">
			<p>我们致力于服务大学生，我们为您提供最贴心的服务，我们是大学生最好的朋友</p>
			<p>我们这里有最全面的服务，最实诚的价格，为您不要的二手书安一个新家</p>
			<p>你在这里也可获取到最适合你的二手书，不论是种类还是价格</p>
	</div>
	<!--div id="picture1">
		<img src="img/book1.jpg" id="book1" width="400" height="450">
		<img src="img/book2.jpg" id="book2" width="400" height="450">
	</div--> 

 <div id="login">  
      <h1>登录</h1>  
        <form>  
            <input type="text" required="required" placeholder="用户名" autocomplete="off" name="u" id = "username"></input>  
            <input type="password" required="required" placeholder="密码" autocomplete="off" name="p" id = "password"></input>  
            <button class="but" type="submit" id = 'login_button'>登录</button>
        </form>
        <button id="button1" type="button">注册</button>  
 	</div> 
<script>
    $.ajaxSetup({
        async: false
    });

    $("#username").blur(function () {
        var user_number = $('#username').val();
        $.post("/user_namepost", { user_number: user_number }, function (data, status) {
            $('#username').val("");
            $('#password').val("");
            if (data == "1") $('#username').val(user_number);
            else $("#user_exit").dialog({
                height: 150,
            });
        });
    });


    $('#login_button').click(function(){
        var user_number = $('#username').val();
        var pwd = $('#password').val();
        $.post("/cmp_pwd", { user_number: user_number,pwd: pwd}, function (data, status) {
            $('#password').val("");
            if (data == "1"){
                window.location.href = "{{ url_for('Index') }}"
            }
            else {
                    $("#pwd_wrong").dialog({
                         height: 150,
                    });
                    $.post("/sleep");
            }
        });
    });


</script>
 <div id="backpicture1"></div> 
 <div id="user_exit">
    <p>用户名不存在</p>     
</div> 
 <div id="pwd_wrong">
    <p>密码错误</p>     
</div> 
</body>  
</html> 