<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title>首页</title>
	<style type="text/css">
		.book-content{
			width: 503px;
			border: 1px solid #888888;
			box-shadow: 0 0 2px #888888 inset;
			text-align: center;
			margin-right: 50px;
			float: left;
			margin-bottom: 20px;
		}
		.book-content img{
			float: left;
			width: 250px;
			height: 320px;
		}
		.desc{
			width: 250px;
			height: 320px;
			max-height: 320px;
			background-color: rgba(255, 255, 255, .8);
			overflow: hidden;
			text-align: left;
		}
		
		.new_dingdan{
			display: none;
			width: 500px;
			position: absolute;
			left: 35%;
			border: 1px solid #888888;
			box-shadow: 0 0 2px #888888 inset;
			text-align: center;
			background-color: rgba(255,255,255,.8);
			clear: both;
		}

		.new_dingdan label{
			width: 70px;
			text-align: right;
		}
		.but{
			background-color: #ff3333;
			margin-top: -30px;
			border: 1px solid #3762bc;   
		    color: #fff;   
		    padding: 5px 10px; 
		    clear: both;  
		    font-size: 10px;   
		    line-height: normal;   
		    border-radius: 5px;   
		    margin-left: 80px;
		}	
	</style>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
	<link href="//cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
	<!-- 可选的Bootstrap主题文件（一般不使用） -->
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> 
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="//cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	    <script src="//cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>
<body>
  <nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
            <a class="navbar-brand" href="#" style="font-size: 50px;color: rgb(0,0,45);position: absolute;bottom: 40px">二手书交易商城</a>	
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="line-height:100px">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('home_toolbook') }}" style="font-size: 35px;color: rgb(0,0,45);position: absolute;left: 800px;width: 150px;bottom: -85px">工具书<span class="sr-only">(current)</span></a></li>
        <li ><a href="{{ url_for('home_teachbook') }}" style="font-size: 35px;color: rgb(0,0,45);position: absolute;left: 950px;width: 150px;bottom: -85px">教科书</a></li>
        <li><a href="{{ url_for('home_otherbook') }}" style="font-size: 35px;color: rgb(0,0,45);position: absolute;left: 1100px;width: 150px;bottom: -85px">其他</a></li>
      </ul>
      <form class="navbar-form navbar-left" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" style="position: absolute;left: 450px;bottom: 40px">
        </div>
        <button type="submit" class="btn btn-default" style="position: absolute;left: 650px;bottom: 40px">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
		<li><a href="#" id="usrname" >{{ Session['Username'] }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ">个人中心<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('Personal') }}">修改个人资料</a></li>
            <li><a href="{{ url_for('soldbook') }}">我卖出的宝贝</a></li>
            
            <li><a href="{{ url_for('purchasedbook') }}">我买到的宝贝</a></li>
            <li><a href="{{ url_for('collectbook') }}">我收藏的宝贝</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->  
</nav>

<div class="row" style="margin-left: 50px">
	<div class="hootbook" style="margin-left: 20px;margin-bottom: -10px">
		<span class="glyphicon glyphicon-book" style="font-size: 25px"></span>
		<h2 style="display: inline-block">我卖出的宝贝>></h2>
	</div>
	<div class="dingdan" style="margin-left: 20px;margin-bottom: -10px">
		<span class="glyphicon glyphicon-plus" style="font-size: 20px"></span>
		<h3 style="display: inline-block;cursor: pointer;" onclick="getNew_dingdan();" >创建订单>></h3>
	</div>
	<script type="text/javascript">
		function getNew_dingdan(){
			document.getElementById('new_dingdan').style.display="block";
		}
	</script>
<div class="new_dingdan" id="new_dingdan" >
<form class="form-horizontal" role="form" action = "{{ url_for('upload') }}" method='post' enctype="multipart/form-data" id="new_trade">
	<h3>新建订单</h3>
	<div class="form-group">
		<div class="book_name">
			<label for="user_number"">书名：</label>
			<input type="text" id="book_name"  placeholder="请输入书名" size="30px" name="book_name" ><span id="aaa" ></span>
		</div>
	</div>
	<div class="form-group" >
		<div class="col-sm" >
			<label  >作者：</label>
			<input type="text"  size="30px " placeholder="请输入作者姓名" name="author">
		</div>
	</div>
	<div class="form-group" >
		<div class="col-sm" >
			<label  >价格：</label>
			<input type="text"  size="30px " placeholder="请输入价格" name="price">
			<script>

			</script>
		</div>
	</div>
	<div class="form-group" >
		<div class="col-sm" >
			<label  >详细介绍：</label>
			<textarea type="text"  maxlength="100" placeholder="请输入详细介绍,不超过五十个字" style="width: 254px" name="intro"></textarea>
		</div>
	</div>
	<div class="form-group">
			<div class="col-sm"> 
				<label>选择种类:</label>
				<select style="width: 254px;" name="kind">
					<option>工具书</option>
					<option>教科书</option>
					<option>其他</option>
				</select>
			</div>
		</div>
	<div class="form-group" >
		<div >
			<label for="pic" style="margin-left:-250px">上传图片：</label>
			<input type="file" accept="image/jpg/png/gif" name="file" id="pic" style="margin-left: 200px;margin-top: -25px">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<a href="#"><button type="submit" class="btn btn-default" style="margin-left: -50px">确定</button></a>
			<a href="#"><button type="button" class="btn btn-default" style="margin-left: 10px" onclick="hidden_dingdan()">取消</button></a>
			<script type="text/javascript">
				function hidden_dingdan(){
					document.getElementById('new_dingdan').style.display="none";
				}
			</script>
		</div>
	</div>
</form>
<script>
	$("#new_trade").submit(function(e){
		alert("添加成功")
	});

</script>

</div>
<div class="book_detail" style="width: 100%; padding: 35px;">
	<div class="responsive">
		{% for i in range(ll) %}
			{% if i%3==0 %}
			<div  class="book-content">
				<img src="{{ url_for('static',filename='Uploads/'+s_book[i].path) }}" alt="computer book1" >
				<div class="desc">
	    			<p name="sailer" style="text-align:left;" >
	   				<label for="sailer" style="color: #bd1638">书名：</label>
					<span id = "Book_Name">{{ s_book[i].name }}</span>
	    			<label for="sailer" style="color: #bd1638;">作者：</label>
					<span style="">{{ s_book[i].author }}</span></p>
	        		<p name="sailer" style="text-align:left;" >
	    			<label for="sailer" style="color: #bd1638">买家：</label>韩冬冰</p>
	        		<label for="sailer" style="color: #bd1638">价格：</label>{{ s_book[i].price }}<label>元</label>
	        		<p name="sailer" style="text-align: left;" ></p>
	        		<p><label style="color: #bd1638">状态：</label>已成交</p>
	        		<label for="sailer" style="color: #bd1638">详细介绍：</label>
	        		<p name="sailer" style="" >{{ s_book[i].intro }}</p>
	        		<button class="but" type="submit"  >删除订单</button>
	        		
				</div>
			</div>
			{% elif i%3==1 %}
			<div  class="book-content">
				<img src="{{ url_for('static',filename='Uploads/'+s_book[i].path) }}" alt="computer book1" >
				<div class="desc">
	    			<p name="sailer" style="text-align:left;" >
	   				<label for="sailer" style="color: #bd1638">书名：</label>
	    			<span id = "Book_Name">{{ s_book[i].name }}</span>
	    			<label for="sailer" style="color: #bd1638;">作者：</label>
	    			<span style="">{{ s_book[i].author }}</span></p>
	        		<p name="sailer" style="text-align:left;" >
	    			<label for="sailer" style="color: #bd1638">买家：</label>韩冬冰</p>
	        		<label for="sailer" style="color: #bd1638">价格：</label>{{ s_book[i].price }}<label>元</label>
	        		<p name="sailer" style="text-align: left;" ></p>
	        		<p><label style="color: #bd1638">状态：</label>已成交</p>
	        		<label for="sailer" style="color: #bd1638">详细介绍：</label>
	        		<p name="sailer" style="" >{{ s_book[i].intro }}</p>
	        		<button class="but" type="submit" >删除订单</button>
					
				</div>
			</div>
			{% elif i%3==2 %}
			<div  class="book-content">
				<img src="{{ url_for('static',filename='Uploads/'+s_book[i].path) }}" alt="computer book1" >
				<div class="desc">
	    			<p name="sailer" style="text-align:left;" >
	   				<label for="sailer" style="color: #bd1638">书名：</label>
	    			<span id = "Book_Name">{{ s_book[i].name }}</span>
	    			<label for="sailer" style="color: #bd1638;">作者：</label>
	    			<span style="">{{ s_book[i].author }}</span></p>
	        		<p name="sailer" style="text-align:left;" >
	    			<label for="sailer" style="color: #bd1638">买家：</label>韩冬冰</p>
	        		<label for="sailer" style="color: #bd1638">价格：</label>{{ s_book[i].price }}<label>元</label>
	        		<p name="sailer" style="text-align: left;" ></p>
	        		<p><label style="color: #bd1638">状态：</label>已成交</p>
	        		<label for="sailer" style="color: #bd1638">详细介绍：</label>
	        		<p name="sailer" style="" >{{ s_book[i].intro }}</p>
	        		<button class="but" type="submit"  >删除订单</button>
					
				</div>
			</div>
			{% endif %}
			{% endfor %}
			<script>
		$('.but').click(function(){
		var title = $(this).siblings().eq(0).find('#Book_Name').text()
		console.log(title)
        var book_name=document.getElementById('Book_Name').innerHTML
				$.post("/deletebook", { book_name: title}, function (data, status) {
							$("#delete_succeed").dialog({
								height: 150,
							});
					
				});
    	});
			</script>
	</div>
	 <div id="delete_succeed" style="display: none">
    	<p>删除成功</p>     
	</div> 
</div>

</body>
</html>	